body{
    font-family: 'Bungee Inline', cursive;
    
    color: orange;
    background-image: url("https://github.com/alexs55/TriviaGame/blob/master/assets/images/background.jpg?raw=true");
}


.jumbotron{
background-image: url("https://github.com/alexs55/TriviaGame/blob/master/assets/images/title-backlground.png?raw=true");
background-size: cover;
    

}

.question{
    text-align: center;
    width: 95%;
    height: 15%;
    font-size: 34px;
    padding: 15px;
    background-image: url("https://github.com/alexs55/TriviaGame/blob/master/assets/images/pokeball3.gif?raw=true");
    background-size: cover;
    margin-top: 8px;
    margin-bottom: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s, transform 1s;
    border: 1px solid white;
    border-radius: 2px;


}

.question:hover{
    transform: translate(5px,10px);
    transition: box-shadow 1s, transform 1s;
}

.questions{
    text-align: center;
    width: 95%;
    height: 15%;
    font-size: 42px;

}




